<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BasketMapper">
	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type) 명시 -->
	<resultMap id="basketMap" type="study.spring.surisulsul.model.Basket">
		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column) 연결 -->
		<result property="loginId" column="loginId" />
		
		<result property="id" column="id" />
		<result property="m_id" column="m_id" />
		<result property="p_id" column="p_id" />
		<result property="p_name" column="p_name" />
		<result property="p_price" column="p_price" />
		<result property="qty" column="qty" />
		<result property="reg_date" column="reg_date" />
		<result property="edit_date" column="edit_date" />
	</resultMap>
	
	
	<!-- 장바구니 - 다중행 조회를 위한 기능 정의 -->
	<select id="selectList" parameterType="study.spring.surisulsul.model.Basket" resultMap="basketMap">
		SELECT id, p_id, p_name, p_price, qty, edit_date
		FROM basket
		WHERE m_id=#{loginId}
		ORDER BY edit_date DESC;
	</select>
	
	<!-- 장바구니 - 데이터 수 조회하기 -->
	<select id="selectCount" parameterType="study.spring.surisulsul.model.Basket" resultType="int">
		SELECT COUNT(*) FROM basket
		WHERE m_id=#{loginId};
	</select>
	
	<!-- 장바구니 - 장바구니에 상품 담기 (INSERT)를 위한 기능 정의 -->
	<insert id="insertItem" parameterType="study.spring.surisulsul.model.Basket" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO basket (m_id, p_id, p_name, p_price, qty, reg_date, edit_date)
		VALUES (#{loginId}, #{p_id}, #{p_name}, #{p_price}, #{qty}, now(), now());
	</insert>
	
	<!-- 장바구니 - 장바구니에서 선택 상품 삭제하기 (DELETE)를 위한 기능 정의 -->
	<delete id="deleteItem" parameterType="study.spring.surisulsul.model.Basket">
		DELETE FROM basket WHERE m_id=#{loginId} AND p_id=#{p_id};
	</delete>
	
	<!-- 장바구니 - 주문완료 시 로그인 되어있는 member Id에 해당하는 장바구니 내용 모두 삭제-->
	<delete id="deleteBasket" parameterType="study.spring.surisulsul.model.Basket">
		DELETE FROM basket WHERE m_id=#{loginId};
	</delete>
	
</mapper>