<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">
    <resultMap id="productMap" type="study.spring.surisulsul.model.Product">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="price" column="price" />
        <result property="type" column="type" />
        <result property="loc" column="loc" />
        <result property="key1" column="key1" />
        <result property="key2" column="key2" />
        <result property="sweet" column="sweet" />
        <result property="sour" column="sour" />
        <result property="degree" column="degree" />
        <result property="igd" column="igd" />
        <result property="size" column="size" />
        <result property="des1" column="des1" />
        <result property="des2" column="des2" />
        <result property="food" column="food" />
        <result property="img" column="img" />
        <result property="star" column="star" />
        <result property="reg_date" column="reg_date" />
        <result property="edit_date" column="edit_date" />
        <result property="jn_result" column="jn_result" />
        
        <result property="types" column="types" />
        <result property="locs" column="locs" />
        <result property="keys" column="keys" />
        <result property="search" column="search" />
        
        <result property="total_qty" column="total_qty" />
    </resultMap>
    
    <!-- 상품 베스트 12개 목록 조회 : best_items
    <select id="bestItemList" parameterType="study.spring.surisulsul.model.Product"
        resultMap="productMap">
        SELECT img, name, price, star, type, loc, key1
		FROM product p
		INNER JOIN sales s ON p.id=s.p_id
		ORDER BY s.total_qty ASC
		LIMIT 0, 12
    </select>-->
    
    <!-- 상품 베스트 4개 목록 조회 : main 
    <select id="mainbestItemList" parameterType="study.spring.surisulsul.model.Product"
        resultMap="productMap">
        SELECT img, name, price, star, type, loc, key1
		FROM products p
		INNER JOIN sales s ON p.id=s.p_id
		ORDER BY s.total_qty ASC
		LIMIT 0, 4
    </select>-->
    
    <!-- 조건에 맞는 상품 목록 조회 : item_filtered -->
    <select id="filteredItemList" parameterType="study.spring.surisulsul.model.Product"
        resultMap="productMap">
        SELECT img, name, price, star, type, loc, key1
		FROM products
		<where>
		  
			<if test="types != null and types != ''">
				type IN (#{types}) AND 
			</if>
			<if test="locs != null and locs != ''">
            	loc IN (#{locs}) AND
            </if>
            <if test="keys != null and keys != ''">
            	((key1 IN #{keys}) OR (key2 IN #{keys})) AND
            </if>
            <if test="sweet != null and sweet != ''">
            	sweet = #{sweet} AND
            </if>
            <if test="sour != null and sour != ''">
            	sour = #{sour} AND
            </if>
            <if test="degree != null and degree != ''">
            	degree = #{degree} AND
            </if>
            <if test="search != null and search != ''">
            	search = #{search}
            </if>
            
		</where>
         
        <if test = "listCount > 0">
        	LIMIT #{offset}, #{listCount}
        </if>
    </select>
    
    <!-- 상품 상세 정보 조회 :item_details -->
    <select id="detailsItem" parameterType="study.spring.surisulsul.model.Product"
        resultMap="productMap">
        SELECT img, name, des1, igd, price, star 
        FROM products 
        WHERE id=#{id};
    </select>
    
    <!-- 상품 정보 조회 : item_info -->
    <select id="infoItem" parameterType="study.spring.surisulsul.model.Product"
        resultMap="productMap">
        SELECT sweet, sour, degree, jn_result, des2, food
        FROM products
        WHERE id=#{id};
    </select>
    
    <!-- 종류별 상품 목록 조회 : extra -->
    <select id="typesItemList" parameterType="study.spring.surisulsul.model.Product"
        resultMap="productMap">
        SELECT img, name, price, star, type, loc, key1
		FROM products
		WHERE type = #{type}
		
		<if test = "listCount > 0">
        	LIMIT #{offset}, #{listCount}
        </if>
    </select>
    
    <!-- 상품 데이터 수 조회하기 -->
    <select id="selectCountAll" parameterType="study.spring.surisulsul.model.Product"
        resultType="int">
    	SELECT COUNT(*) FROM products
    </select>
    
    <!-- 상품 데이터 저장 -->
    <insert id="insertItem"
        parameterType="study.spring.surisulsul.model.Product"
        useGeneratedKeys="true"
        keyProperty="id">
        INSERT INTO products
        (name, price, type, loc, key1, key2, sweet, sour, degree, igd,
        size, des1, des2, food, img, star, reg_date, edit_date, jn_result) 
        VALUES (#{name}, #{price}, #{type}, #{loc}, #{key1}, #{key2},
        #{sweet}, #{sour}, #{degree}, #{igd}, #{size}, #{des1}, #{des2},
        #{food}, #{img}, 0, now(), now(), null)
    </insert>
    
    <!-- 상품 데이터 수정 -->
    <update id="updateItem"
        parameterType="study.spring.surisulsul.model.Product">
        UPDATE products SET 
        id=#{id}, name=#{name}, price=#{price}, type=#{type},
        loc=#{loc}, key1=#{key1}, key2=#{key2},
		sweet=#{sweet}, sour=#{sour}, degree=#{degree}, igd=#{igd},
		size=#{size}, des1=#{des1}, des2=#{des2}, food=#{food},
		img=#{img}, star=#{star}, edit_date=now(), jn_result=#{jn_result}        
        WHERE id=#{id};
    </update>
    
    <!-- 상품 데이터 삭제 -->
    <delete id="deleteItem"
        parameterType="study.spring.surisulsul.model.Product">
        DELETE FROM products WHERE id=#{id};
    </delete>
    
</mapper> 
