@charset "UTF-8";

.best_items {
    width: 70%;
    height: auto;
    margin: 100px auto;
    padding: auto;
    margin-top: 200px;
}

.best_items a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.item_list {
    list-style: none;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    border-top: 1px solid #cccccc;
}

.item_contents .title {
    width: auto;
    height: 60px;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    color: #6a60a9;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    font-weight: 600;
}

.item_contents .comment {
    color: #b5acd4;
    font-size: 18px;
    font-weight: 600;
}

.item_list {
	display: block;
	width: 100%;
	height: auto;
	margin: auto;
	padding: auto;
	text-align: center;
	list-style: none;
    padding-top: 20px;
    border-top: 1px solid #cccccc;
    position: relative;
}

.item_contents > a{
	display: block;
}

.item_info {
	display: inline-block;
	width: 270px;
    height: auto;
    padding: 0 4px;
    margin: 0 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.item_info:hover{
	background-color: #ffefc5;
}

.item_info .item_img {
    width: auto;
    height: auto;
    margin:0;
    padding:0;
    margin-bottom: 13px;
    object-fit: cover;
    overflow: hidden;
}

.item_info .item_title {
    display: block;
    max-width: 150px;
    height: 20px;
    margin-bottom: 5px;
    font-size: 17px;
    color: black;
    font-weight: 550;
    letter-spacing: 0.015em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

.item_info .item_price {
    display: block;
    max-width: 100px;
    height: auto;
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.015em;
    float: right;
}

.item_info .item_rating {
    display: block;
    width: auto;
    height: auto;
    font-size: 15px;
    float: left;
}

.item_info .item_tag_list {
	display: block;
	width: auto;
	height: auto;
	margin: auto;
	margin-top: 5px;
	padding: auto;
	text-align: left;
}

.item_info .item_tag {
    display: inline-block;
    max-width: 80px;
    height: 15px;
    padding: 3px;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 3px;

}

.item_type_tag {
    color: white;
    background-color: #9B59B6;
}

.item_area_tag {
    color: white;
    background-color: #5B44AD;
}

.item_keyword_tag {
    color: white;
    background-color: #6D2B88;
}

.best_ranking {
	display: block;
	z-index: 100;
	position: absolute;
	left: 280px;
	margin: 0 5px;
}

.clean {
    float: none;
    clear: both;
}