@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* 전체 공통 내용
          --------------------------------------------*/
* {
    font-family: "Noto Sans KR", sans-serif;
}

a {
    text-decoration: none;
}

hr {
	display: none;
}

li {
	list-style: none;
}

/** header.css */
.header {
	width: 100%;
    height: 100px;
    background: #fff;
    position:fixed;
    left: 0;
    top: 0;
    z-index: 20000;
}

.header h1 {
	width:200px;
    padding-top: 10px;
    position:relative;
	margin: auto;
}

.menu_bar {
	position: absolute;
	top: 35px;
	left: 70px;
    font-size: 25px;
    color: #6a60a9;
}

.login_menu {
	position: absolute;
	right: 40px;
	top: 45px;
    width: 220px;
}

.login_menu li {
    float: left;
    margin-right: 20px;
    font-size: 14px;
}

/** footer.css */
.footer {
    width: 100%;
    height: 420px;
    background: #2A2727;
    position : absolute;
    z-index : 30000;
}

.footer h1 {
    width: 130px;
    padding-left: 100px;
    padding-top: 30px;
}

.sitemap {
    text-align: center;
    width: 1100px;
    padding-top: 10px;
    height: 200px;
    margin: auto;
}

.sitemap ul {
    float: left;
}

.sitemap ul li a {
    color: #fff;
}

.title {
    width: 180px;
    margin: auto;
    font-size: 18px;
    font-weight: bold;
}

.drink {
    width: 180px;
    margin: auto;
    line-height: 30px;
    font-size: 15px;
}

.award {
    width: 500px;
    margin: auto;
}

.award li {
    float: left;
}

.award img {
    margin-left: 50px;
}

.info {
    text-align: center;
    margin: auto;
    width: 1000px;
    padding-top: 20px;
    color: #fff;
    font-size: 12px;
}

/** sidebar.css */
.sidebar {
    position: fixed;
    top: 0;
    left: -255px;
    width: 250px;
    height: 100%;
    background: #fff;
    transition: all .5s ease;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.sidebar h1 img {
    position: absolute;
    top: 60px;
    left: 30px;
    width: 120px;
    height: 40px;
}

.sidebar ul {
    margin-top: 120px;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 14px;
    color: #000;
    padding-left: 40px;
    box-sizing: border-box;
    transition: .4s;
}

.sidebar ul li:hover a {
    padding-left: 50px;
}

.sidebar ul a i {
    margin-right: 16px;
}

#check {
    display: none;
}

label #cancel {
    position: absolute;
    border-radius: 3px;
    cursor: pointer;
}

label #btn {
    position: relative;
    top: -55px;
    left: 50px;
    font-size: 30px;
    color: #6a60a9;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel {
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #6a60a9;
    padding: 4px 9px;
    transition: all .5s ease;
}

#check:checked~.sidebar {
    left: 0;
}

#check:checked~label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked~label #cancel {
    left: 195px;
}

#check:checked~section {
    margin-left: 250px;
}