@charset "UTF-8";
#drinks_content{
	width:80%;
	position:relative;
}
img{
	filter: brightness(50%);
	width:100%;
	height:600px;
	position:absolute;
}
#drinks_name{
	color:#fff;
	position:absolute;
	z-index:1000;
}