@charset "UTF-8";

.item_info {
	width: 90%;
	height: auto;
	margin: auto;
	padding: auto;
	margin-top: 20px;
	position: relative;
}

.item_info .title {
	width: auto;
	height: 30px;
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	text-align: left;
	line-height: 30px;
	font-size: 25px;
	font-weight: 600;
}

.title>span {
	margin-left: 10px;
	color: #bbbbbb;
	font-size: 15px;
}

.taste {
	width: 300px;
	height: 230px;
	margin-top: 40px;
	margin-bottom: 60px;
	padding: 0;
	float: left;
}

.taste>h4 {
	font-size: 20px;
	margin-bottom: 30px;
}

.taste h5 {
	width: 60px;
	height: auto;
	margin: 0;
	padding: 20px 0;
	font-size: 18px;
	text-align: center;
	border-right: 1px solid #bbbbbb;
}

.sugar, .acidity {
	width: auto;
	height: auto;
	text-align: left;
}

.sugar h5 {
	display: inline-block;
	margin-right: 10px;
	color: #8E44AD;
}

.sugar_counts, .acidity_counts {
	display: inline-block;
	text-align: center;
}

.sugar_count {
	display: inline-block;
	width: 20px;
	height: 25px;
	margin: 0 2px;
	padding: 0;
	line-height: 20px;
	background-color: #8E44AD;
	text-indent: -10000px;
}

.acidity {
	width: auto;
	height: auto;
	text-align: left;
}

.acidity h5 {
	display: inline-block;
	margin-right: 10px;
	color: #4A44AD;
}

.acidity_counts {
	display: inline-block;
	text-align: center;
}

.acidity_count {
	display: inline-block;
	width: 20px;
	height: 25px;
	margin: 0 2px;
	padding: 0;
	line-height: 20px;
	background-color: #4A44AD;
	text-indent: -10000px;
}

.alcohol_degree {
	width: auto;
	height: auto;
	text-align: left;
}

.alcohol_degree h5 {
	display: inline-block;
	margin-right: 10px;
	color: #B1659F;
}

.alcohol_degree_counts {
	display: inline-block;
	text-align: center;
}

.alcohol_degree_count {
	display: inline-block;
	width: 20px;
	height: 25px;
	margin: 0 2px;
	padding: 0;
	line-height: 20px;
	background-color: #B1659F;
	text-indent: -10000px;
}

.jn_result {
	width: 400px;
	height: auto;
	margin-top: 35px;
	margin-bottom: 60px;
	padding: 0;
	text-align: left;
	float: right;
}

.jn_result>h4 {
	font-size: 20px;
	margin-bottom: 60px;
}

.jn_result>img {
	width: 100px;
	height: 100px;
	margin-left: 20px;
	padding: 0;
	border-radius: 200px;
}

.jn_result>ul {
	float: right;
}

.jn_result li {
	font-size: 17px;
	margin-bottom: 10px;
}

.item_keyword_lists {
	display: block;
	width: 250px;
	height: 200px;
	margin: 0;
	margin-bottom: 60px;
	padding: 0;
	text-align: center;
	float: left;
	position: relative;
	top: 120px;
}

.keyword_lists_ul {
	width: 100%;
	height: 190px;
	margin: 0;
	padding: 0;
	text-align: center;
}

.keyword_lists_li {
	display: inline-block;
	width: 30%;
	height: 30px;
	margin: 10px 10px;
	padding: 5px 10px;
	font-size: 15px;
	line-height: 30px;
	text-align: center;
	color: white;
	border-radius: 10px;
}

.type_li {
	background-color: #6D59A1;
}

.area_li {
	background-color: #3C378C;
}

.incense1_li {
	background-color: #73378C;
}

.incense2_li {
	background-color: #8D46AA;
}

.item_info_suri {
	width: 100%;
	height: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 0;
}

.item_info_suri>h4 {
	font-size: 20px;
	margin-bottom: 20px;
}

.item_info_suri>p {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	font-size: 17px;
	letter-spacing: 1px;
	word-spacing: 2px;
	word-wrap: normal;
	line-height: 30px;
}

.suri_rules {
	width: 100%;
	height: auto;
	margin: 40px 0;
	padding: 0;
}

.suri_rules>h4 {
	font-size: 20px;
	margin-bottom: 20px;
}

.suri_rules>p {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	font-size: 17px;
	letter-spacing: 1px;
	word-spacing: 2px;
	word-wrap: normal;
	line-height: 30px;
}

.clear {
	float: none;
	clear: both;
}