@charset "UTF-8";

/* item_filtered 공통 설정 */

/*
 * 전체 영역 크기 설정
 * -------------------------- */
.item_filtered {
	width: 70%;
	height: auto;
	margin: 100px auto;
	padding: auto;
	margin-top: 200px;
}

/*
 * 버튼 마우스 오버시 커서 변화
 * -------------------------- */
.item_filtered button {
	cursor: pointer;
}

/* 키워드 검색 : 체크박스 */

/*
 * 키워드 검색 전체 영역
 * -------------------------- */
.keyword_checkbox {
	width: 100%;
	height: auto;
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	text-align: center;
	background-color: #dedcee;
	border-radius: 15px;
	padding: 0;
}

/*
 * 키워드 검색 영역별 -> 종류별, 지역별, 향별, 맛과 깊이
 * -------------------------- */
.check_boxes {
	display: inline-block;
	width: 20%;
	height: auto;
	margin: 10px 0;
	padding: 10px;
	text-align: left;
	vertical-align: top;
}

/*
 * 키워드 검색 영역별 각 타이틀
 * -------------------------- */
.checkbox_title {
	width: 100%;
	height: 20px;
	margin: 0;
	margin-bottom: 40px;
	padding: 8px 0;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	color: white;
	background-color: #6a60a9;
	border-radius: 5px;
}

/*
 * 각 체크박스 영역
 * -------------------------- */
.checkbox_input {
	width: auto;
	height: auto;
	margin: 5px 0;
	padding: 3px;
	padding-left: 20px;
	font-size: 16px;
}

/*
 * 체크박스 label 글자크기
 * -------------------------- */
.checkbox_input>label {
	font-size: 18px;
}

/* 키워드 검색 : 슬라이더 영역 */

/*
 * 슬라이더 전체 영역
 * -------------------------- */
.sliders {
	width: 30%;
	height: 100%;
}

/*
 * 슬라이더 구간 텍스트 -> 전체 낮음 중간 높음
 * -------------------------- */
.slider_info {
	width: 80%;
	height: 40px;
	margin: 0 auto;
	padding: 0;
	font-size: 16px;
	color: #7d7891;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	word-spacing: 60px;
	position: relative;
	left: 18px;
	bottom: 10px;
}

/*
 * 각 슬라이더 영역
 * -------------------------- */
.slider {
	width: 90%;
	height: 40px;
	margin: 0 auto 32px auto;
	padding: auto;
	vertical-align: middle;
}

/*
 * 슬라이더 항목 -> 당도, 산미, 도수
 * -------------------------- */
.slider_title {
	width: 40px;
	height: 40px;
	margin: 0;
	margin-right: 15px;
	padding: 0;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
}

/*
 * 슬라이더
 * -------------------------- */
.slider>input {
	width: 300px;
	height: auto;
	margin: 0;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: purple;
	background-color: purple;
}

/*
 * 기본값 초기화
 * -------------------------- 
input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	background: transparent;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-ms-track {
	width: 100%;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}*/

/*
 * 슬라이더 thumb
 * -------------------------- 
input[type=range]::-webkit-slider-thumb {
	-webkit-apperance: none;
	height: 15px;
	width: 15px;
	border-radius: 200px;
	background-color: #7C59B6;
	cursor: pointer;
}

input[type=range]::-moz-range-thumb {
	-webkit-apperance: none;
	height: 15px;
	width: 15px;
	border-radius: 200px;
	background-color: #7C59B6;
	cursor: pointer;
}

input[type=range]::-ms-thumb {
	-webkit-apperance: none;
	height: 15px;
	width: 15px;
	border-radius: 200px;
	background-color: #7C59B6;
	cursor: pointer;
}*/

/*
 * 슬라이더 track
 * -------------------------- 
input[type=range]::-webkit-slider-runnable-track {
	width: 200px;
	height: 10px;
	background-color: white;
	border-radius: 3px;
	border: 1px solid #7C59B6;
	cursor: pointer;
}

input[type=range]::-moz-range-track {
	width: 200px;
	height: 10px;
	background-color: white;
	border-radius: 3px;
	border: 1px solid #7C59B6;
	cursor: pointer;
}
*/


/* 검색 조건 */

.search {
	width: auto;
	height: 135px;
	margin: 50px 0;
	border: 1px solid white;
}
/*
 * 검색 조건 전체 영역
 * -------------------------- */
.keyword_area {
	width: 100%;
	/*height: 18px;*/
	height: 100px;
	margin: 0;
	margin-bottom: 30px;
	padding: 9px 0;
	background-color: #F9F1FB;
	vertical-align: middle;
	line-height: 100px;
}

/*
 * '검색 조건' 텍스트
 * -------------------------- */
.keyword_area>h4 {
	width: 180px;
	height: 118px;
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	line-height: 118px;
	color: white;
	background-color: #7C59B6;
	position: relative;
	bottom: 9px;
}

/*
 * 키워드 태그 나열 영역
 * -------------------------- */
.search .result_list_type, .search .result_list_area, .search .result_list_incense {
	max-width: 700px;
	height: 32px;
	text-align: left;
	line-height: 32px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    left: 210px;
    bottom: 117px;
}

/*
 * 선택된 키워드 태그
 * -------------------------- */
.search_result {
	display: inline-block;
	width: auto;
	height: 16px;
	margin: 0 2px;
	padding: 5px 5px;
	font-size: 13px;
	text-align: center;
	line-height: 16px;
	color: white;
	border-radius: 5px;
}
.types_result{
    background-color: #9B59B6;
}
.area_result{
    background-color: #5B44AD;
}
.incense_result{
    background-color: #6D2B88;
}

/*
 * 검색창 영역
 * -------------------------- */
#title_search {
	background: transparent;
	width: 300px;
	height: 30px;
	padding: 5px;
	margin-right: 60px;
	border: none;
	border-radius: 5px;
	float: right;
	position: relative;
	right: 12px;
	bottom: 107px;
}

#title_search:focus {
	outline: 2px solid #cccccc;
}

/*
 * 검색창 placeholder
 * -------------------------- */
#title_search::placeholder {
	text-align: center;
	color: #9e9aa0;
}

/*
 * 검색 버튼
 * -------------------------- */
.search_btn {
	width: 70px;
	height: 119px;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	float: right;
	position: relative;
	left: 370px;
	bottom: 148px;
	font-size: 17px;
	text-align: center;
	line-height: 100px;
	color: white;
	background-color: #7C59B6;
}

/* 검색조건에 맞는 데이터가 없는 경우 */

.select_none {
	width: 100%;
	height: auto;
	margin: 30px auto;
	padding: auto;
	text-align: center;
	vertical-align: middle;
}

.select_none>h1 {
	width: auto;
	height: auto;
	margin: 30px auto;
	padding: auto;
	font-size: 30px;
	color: #7C59B6;
	
}