@charset "UTF-8";

.item_filtered {
	width: 70%;
	height: auto;
	margin: 100px auto;
	padding: auto;
	margin-top: 200px;
}

.item_filtered button {
	cursor: pointer;
}

.keyword_checkbox {
	width: 100%;
	height: auto;
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	text-align: center;
	background-color: #dedcee;
	border-radius: 15px;
	padding: 0;
}

.check_boxes {
	display: inline-block;
	width: 20%;
	height: auto;
	margin: 10px 0;
	padding: 10px;
	text-align: left;
	vertical-align: top;
}

.sliders {
	width: 30%;
	height: 100%;
}

.checkbox_title {
	width: 100%;
	height: 20px;
	margin: 0;
	margin-bottom: 40px;
	padding: 8px 0;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	color: white;
	background-color: #6a60a9;
	border-radius: 5px;
}

.checkbox_input {
	width: auto;
	height: auto;
	margin: 5px 0;
	padding: 3px;
	padding-left: 20px;
	font-size: 16px;
}

.slider {
	width: 90%;
	height: 40px;
	margin: 0 auto 32px auto;
	padding: auto;
	vertical-align: middle;
	/*border: 1px solid green;*/
}
.slider_info {
	width: 80%;
	height: 40px;
	margin: 0 auto;
	padding: 0;
	font-size: 16px;
	color: #7d7891;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	word-spacing: 60px;
	position: relative;
	left: 18px;
	bottom: 10px;
}
.slider_title {
	width: 40px;
	height: 40px;
	margin: 0;
	margin-right: 15px;
	padding: 0;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
}

.slider>input {
	width: 300px;
	height: auto;
	margin: 0;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
/*
input[type=range] {
	-webkit-appearance: none;
	height: 5px;
	background-color: white;
	border : 1px solid #7C59B6;
}
*/
.keyword_area {
	width: 100%;
	height: 18px;
	margin: 0;
	margin-bottom: 30px;
	padding: 8px 0;
	background-color: #F9F1FB;
	vertical-align: middle;
}

.keyword_area>h4 {
	width: 200px;
	height: 18px;
	margin: 0;
	padding: 8px 0;
	font-size: 17px;
	font-weight: 400;
	text-align: center;
	line-height: 18px;
	color: white;
	background-color: #7C59B6;
	position: relative;
	bottom: 8px;
}

.search .result_list {
	max-width: 700px;
	height: 32px;
	text-align: left;
	line-height: 32px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    left: 230px;
    bottom: 43px;
	/*border: 1px solid red;*/
}
.search_result {
	display: inline-block;
	width: auto;
	height: 16px;
	margin: 0;
	padding: 5px 5px;
	font-size: 13px;
	text-align: center;
	line-height: 16px;
	color: white;
	background-color: #9B59B6;
	border-radius: 5px;
}

#title_search {
	background: transparent;
	width: 300px;
	padding: 5px;
	margin-right: 60px;
	border: none;
	float: right;
	position: relative;
	bottom: 61px;
}

#title_search::placeholder {
	text-align: center;
	color: #9e9aa0;
}

.search_btn {
	width: 70px;
	height: 34px;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	float: right;
	position: relative;
	left: 370px;
	bottom: 63px;
	font-size: 17px;
	text-align: center;
	line-height: 34px;
	color: white;
	background-color: #7C59B6;
}