@charset "UTF-8";

/*
 * 입력 페이지명 (이메일 찾기, 비밀번호 찾기, 회원가입, 로그인 등)
 * --------------------- */
.account-menu {
    font-size: 18px;
}

/*
 * 입력 페이지 안내
 * --------------------- */
.account-menu-detail {
    display: block;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 300;
}

.print-alert {
    font-size: 14px;
    font-weight: 400;
}

/*
 * 입력 페이지 컨텐츠 영역 설정
 * --------------------- */
.form-horizontal {
    border: 1px solid #dedcee;
    width: 500px;
    margin: 200px auto;
    padding: 0 50px;
}

/*
 * 입력 내용 영역 설정 및 clearfix
 * --------------------- */
.form-group:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}

.form-group {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px 0;
}

/*
 * 입력 내용의 라벨과 입력칸 그리드 설정 (1:2 비율)
 * --------------------- */

.col-md-4 {
    width: 33.3%;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: 500;
    padding-top: 7px;
    text-indent: 5px;
}

.col-md-6 {
    width: 45%;
    display: block;
    float: left;
}

.col-md-8 {
    width: 66.7%;
    display: block;
    float: left;
}

/*
 * 입력 칸의 모양 설정
 * --------------------- */

.form-control {
    width: 100%;
    padding: 5px 0;
    padding-left: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-control:focus {
    border: 2px solid #6a60a9;
    background-color: #dedcee;
}

/*
 * 페이지 설명 텍스트 설정
 * --------------------- */
.text-center {
    text-align: center;
    line-height: 1.5;
}

/*
 * 필수 항목 표시
 * --------------------- */
.identify {
    font-size: 14px;
    color: #f00;
}

/*
 * 버튼 디자인
 * --------------------- */
button {
    background-color: #6a60a9;
    font-size: 16px;
    color: #eee;
    padding: 10px 20px;
    border: 0px;
    box-shadow: none;
    border-radius: 3px;
}

.chk-email {
    margin-left: 20px;
    background-color: #6a60a9;
    font-size: 14px;
    color: #eee;
    padding: 5px 8px;
    border: 0px;
    box-shadow: none;
    border-radius: 3px;
}

.button-cancle {
    background-color: #ddd;
    color: #222;
}

/*
 * 비밀번호 확인 박스 영역
 * --------------------- */
.chk-pw-box {
    width: 500px;
    margin: auto;
    padding-top: 150px;
    text-align: center;
}

.box-title {
    background-color: #6a60a9;
    height: 50px;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
}

.box-alert {
    display: block;
    margin-top: 30px;
    font-size: 18px;
    color: #666;
    line-height: 20px;
}

.input-pw-box {
    padding: 30px;
    font-size: 16px;
    font-weight: 500;
}

.input-pw-box label {
    padding: 0 10px;
}