@charset "UTF-8";

#juneung_content {
	width: 80%;
	height: 800px; margin : auto;
	padding-top: 120px;
	text-align: center;
	margin: auto;
}

#juneung_content h1 {
	font-size: 2em;
	font-weight: bold;
	margin:40px 0;
}

#juneung_content h2{
	font-size:1.5em;
	font-weight:bold;
	margin-bottom:30px;
}

#juneung_content h4{
	font-size : 1em;
}
#juneung_content label{
	position:relative;
}
[type=radio] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

/* IMAGE STYLES */
[type=radio]+img {
	width: 100px;
	height: 100px;
	cursor: pointer;
	margin: 40px;
	border: 2px solid #6a60a9;
	border-radius: 50px;
}

[type=radio]+img:hover{
    opacity:0.7;
    /*  default */
    transform: scale(1.1);
    /*  크롬 */
    -webkit-transform: scale(1.1);
    /* FireFox */
    -moz-transform: scale(1.1);
    /* Opera */
    -o-transform: scale(1.1);
    transition: transform .35s;
    -o-transition: transform .35s;
    -moz-transition: transform .35s;
    -webkit-transition: transform .35s;
}

/* CHECKED STYLES */
[type=radio]:checked+img {
	border: 2px solid #fbd14b;
    /*  default */
    transform: scale(1.1);
    /*  크롬 */
    -webkit-transform: scale(1.1);
    /* FireFox */
    -moz-transform: scale(1.1);
    /* Opera */
    -o-transform: scale(1.1);
}
.icon_description{
	width: 100%;
	position: absolute;
	top:-80px;
	left: 0;
	z-index: 1000;
	font-weight: bold;
	font-size: 20px;
}

.text_visible {
	visibility: hidden;
}

