@charset "UTF-8";

/**페이지 크기*/
.psn_recommend {
    width: 80%;
    margin: auto;
}

.psn_wishlist {
    width: 80%;
    margin: auto;
}

/**페이지 타이틀 크기 설정*/
.psn_title {
    display: block;
    width: 100%;
    height: 140px;
}

/**페이지 메인 타이틀 */
.psn_title_txt {
    font-weight: 700;
    font-size: 25px;
    display: block;
    width: 100%;
    padding: 0 0 15px 0;
    color: #5E5E5E;
    margin-left: 20px;
}

/**페이지 서브 타이틀*/
.psn_title_dsc {
    font-weight: 400;
    font-size: 20px;
    display: block;
    width: 100%;
    padding: 0 0 15px 0;
    color: #B0AFAF;
    text-align: center;
}

/**나를 위한 추천 키워드*/
.psn_keyword {
    width: 100%;
    text-align: center;
    float: left;
    line-height: 43px;
    display: block;
    margin-bottom: 20px;
}

.psn_keyword a {
    background-color: #FBD14B;
    border: 0px;
    margin-right: 3px;
    width: auto;
    padding: 3px 20px;
    border-radius: 15px;
    text-align: center;
}

/**나를 위한 추천 상품*/
.psn_result {
    margin: auto;
    height: 600px;
    /**height 수정하기*/
}

.psn_result_inner {
    height: inherit;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/**나를 위한 추천 상품
->아이템 좌측 정렬*/
.pick_item {
    float: left;
    margin: 0 12px;
    width: 270px;
    height: 360px;
}

/**나를 위한 추천 상품 a 범위 설정*/
.pick_item a {
    width: 270px;
    height: 360px;
    display: block;
    overflow: hidden;
    position: relative;

}

/**나를 위한 추천 상품 > 링크 > 배경 박스*/
.pick_item .psn_pick_bg {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}

/**나를 위한 추천 상품 > 링크 > 내용박스(오버레이)*/
.pick_item .psn_pick_text {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table-cell;
    opacity: 0;
    transition: all 0.5s;
}

/**나를 위한 추천 상품 > 링크 > 내용박스 > 텍스트*/
.psn_pick_title,
.psn_pick_price {
    vertical-align: middle;
    color: white;
    text-align: center;
}

/**나를 위한 추천 상품 > 링크 > 내용박스 > 텍스트(상품명)*/
.psn_pick_title {
    margin-top: 70%;
    font-size: 35px;
    font-weight: 400;
}

/**나를 위한 추천 상품 > 링크 > 내용박스 > 텍스트(가격)*/
.psn_pick_price {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
}

/**나를 위한  추천 상품 > 링크 마우스hover*/
.pick_link:hover .psn_pick_bg {
    transform: scale(1.1, 1.1);
}

.pick_link:hover .psn_pick_text {
    opacity: 1;
}

/**나를 위한 추천 상품 설정*/
.psn_pick1 {
    background: url(../img/mypage/rec_01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;

}

.psn_pick2 {
    background: url(../img/mypage/rec_02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;

}

.psn_pick3 {
    background: url(../img/mypage/rec_03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;

}

.psn_pick4 {
    background: url(../img/mypage/rec_04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;

}

/*************************************************
**************************************************
**********WISH LIST******************************/
/******* 슬라이드 내용영역  *******/
.swiper-container {
    width: 80%;
    background-color: #F6F5F3;
    margin: auto;
    height: 450px;
    margin-bottom: 50px;
}

.swiper-container .swiper-wrapper .swiper-slide,
li .pick_item .swiper-slide .swiper-slide-active,
li .pick_item .swiper-slide .swiper-slideduplicate,
li .pick_item .swiper-slide .swiper-slide-next {
    width: 20%;
    height: auto;
    margin-right: 0;
    margin-top: 30px;
    margin-bottom: 0;
}

/**아래 pagination위치 조절
*******************************/
.swiper-pagination {
    display: block;
}

.swiper-wrapper {
    margin-bottom: 20px;
}

/**화살표 조절
*******************************/
/*.swiper-button-next {
    background-image: url(../img/arrow_right_on.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 16%;
}

.swiper-button-prev {
    background-image: url(../img/arrow_left_on.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 18%;
}