@charset "UTF-8";

/** order 폴더 내 모든 content ==> div 기본 스타일 설정, 타이틀 사이즈 설정 */
#order_result, #basket, #basket_order{
	padding:150px 0;
	text-align:center;
}
#order_result h1, #basket h1, #basket_order h1{
	font-size:2em;
	font-weight:bold;
	margin:20px 0;
}
#order_result h2{
	font-size:1.2em;
	font-weight:bold;
	margin:20px 0;
}

/** order 폴더 내에 있는 모든 table에 들어갈 제품 img 크기 설정 */
#order_result_table td img, #basket_table td img{
	width:100px;
	height:130px;
	vertical-align:middle;
	margin-right:15px;
}

/** 공통 float 마감제 */
.clearfix:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}

/** basket.jsp --> table 기본 css */
#basket>#basket_table{
	vertical-align:middle;
	margin:auto;
	width:800px;
}
#basket_table tr{
	border-top:2px solid #ccc;
	border-bottom:2px solid #ccc;	
}
#basket_table td{
	line-height:200%;
}
#basket_table #left_align{
	float:left;
	margin-left:50px;
	margin-top:10px;
}

/** basket.jsp --> 선택상품 삭제 버튼 css */
#basket #delete_this{
	padding:1px 5px;
	border:none;
    background-color: #fbd14b;	
    float:right;
    line-height:145%;
    margin:3px 10px 0 0;
}
#basket .check_all, #basket #basket_table label{
	float:left;
}



/** order_result.jsp --> 아이콘 */
#order_result #result_icon{
	width:50px;
	height:50px;
}

/** order_result.jsp --> 주문 상세 정보 */
#order_result>#order_result_table{
	margin:50px auto;
	text-align:left;
}
#order_result_table tr{
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
#order_result_table td{
	padding:20px;
	line-height:150%;
	vertical-align:middle;
}

/** order_result.jsp --> 버튼 처리 */
#order_result a{
    background-color: #6a60a9;
    font-size: 16px;
    color: #eee;
    padding: 10px 20px;
    border: 0px;
    box-shadow: none;
    border-radius: 3px;
    margin:30px 10px 0 0;
}
#order_result a:hover{
    background-color: #eee;
    color: #6a60a9;
    border: 2px solid #6a60a9;
}
#blank{
	width:auto;
	height:20px;
}