@charset "UTF-8";
.content{
	margin:120px 0 0 200px;
}
.content hr{
	border:solid 3px #000;
}
.content h2{
	font-size:1.5em;
	font-weight:bold;
	letter-spacing:0.2em;
}
.total_cnt{
	margin:30px 0 0 0;
}

/**----테이블 크기 및 첫줄 배경컬러/각 셀의 높이+border설정 */
.manage_order_table{
	margin-top:10px;
	width:1350px;
	text-align:center;
}
.manage_order_table th{
	border:1px solid #aaa;
	background-color:#6a60a9;
	color:#fff;
	font-weight:normal;
	line-height:220%;
	font-size:15px;
	vertical-align:middle;
}
.manage_order_table td{
	border:1px solid #aaa;
	line-height:230%;
	font-size:15px;
	vertical-align:middle;
}

/**------------------------
---------------------------
uncmpl_orders 페이지 단일 스타일
--------------------------
----------------------------*/
/**-----보기 a 태그 스타일 -----*/
.show_button{
	border:none;
	padding:2px 5px;
	margin:5px 3px;
	font-size:15px;
	background-color:#ccc;
}
/* submit 버튼 들어가는 div 스타일 */
.submit_buttons{
	margin:10px auto 20px;
}
/*float마감제*/
.submit_buttons:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}
/**-----미완료 주문 페이지 버튼 스타일 -----------*/
.pay_button, .send_button, .search_button{
	border:none;
	padding:5px 10px;
	font-size:16px;
	font-weight:bold;
	background-color:#fbd14b;
	cursor:pointer;
}


/**------------------------
---------------------------
manage_sales 페이지 단일 스타일
--------------------------
----------------------------*/
.sales{
	width:1350px;
	margin:30px 0 10px 0;
	padding-bottom:10px;
	border-bottom:2px solid #bbb;
}
.sales .title{
	margin-right:20px;
	font-size:18px;
}
.sales input {
	font-size:15px;
}
.sales .unpaid{
	color:red;
	text-align:right;
	padding-right:5px;
}
.sales .price, .manage_order_table .price{
	text-align:right;
	padding-right:10px;
}

/*-----------------------------
-------------------------------
manage_orders 페이지 단일 스타일
-------------------------------
------------------------------*/
#manage_orders_form{
	margin-bottom:20px;
}
.manage_orders_count{
	margin-top:25px;
}
.manage_orders_details{
	margin:10px 10px 10px 0;
}
/*-----------------------------
-------------------------------
manage_order.details 페이지 단일 스타일
-------------------------------
------------------------------*/
.small_img{
	width:50px;
	height:70px;
	margin:5px 10px;
	vertical-align:middle;
}
.manage_order_table .product{
	text-align:left;
	margin-left:20px;
}
.go_list{
	display:inline-block;
	margin-top:20px;
	border:none;
	padding:5px 10px;
	font-size:16px;
	font-weight:bold;
	background-color:#fbd14b;
}
.warning{
	color:red;
	font-size:13px;
	margin-top:5px;
}