@charset "UTF-8";

/* 상품 후기 페이지 css */
.item_reviews {
	width: 90%;
	height: auto;
	margin: 100px auto;
	padding: auto;
	margin-top: 20px;
}

.item_reviews .title {
	width: auto;
	height: 30px;
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	text-align: left;
	line-height: 30px;
	font-size: 25px;
	font-weight: 600;
}

.item_reviews .title>span {
	margin-left: 10px;
	color: #bbbbbb;
	font-size: 15px;
}

.item_reviews table {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

.item_reviews tr {
	border-top: 1px solid #cccccc;
	max-height: 260px;
	margin: 0;
}

.item_reviews .img_area {
	width: 20%;
	height: 200px;
	padding: 15px 10px;
	margin: 0;
	vertical-align: middle;
	text-align: center;
}

.item_reviews .review_img {
	width: 170px;
	height: 200px;
	object-fit: cover;
	overflow: hidden;
}

.item_reviews .content_area {
	width: 60%;
	height: 230px;
	padding: 15px 10px;
	margin: 0;
	vertical-align: middle;
}

.item_reviews .content_title {
	font-size: 20px;
	margin-bottom: 10px;
}

.item_reviews .content_item {
	font-size: 16px;
	margin-bottom: 20px;
	color: #6a60a9;
}

.item_reviews .content_text {
	font-size: 16px;
	line-height: 25px;
}

.item_reviews .userinfo_area {
	width: 20%;
	height: 230px;
	padding: 15px 10px;
	margin: 0;
	text-align: center;
	vertical-align: middle;
}

.user_id_filter, .reivew_date, .review_rating_text, .review_rating {
	font-size: 16px;
	margin-bottom: 10px;
}

/* item_question 페이지 css */
.item_question {
	width: 90%;
	height: auto;
	margin: 100px auto;
	padding: auto;
	margin-top: 20px;
}

.item_question a {
	cursor: pointer;
}

.item_question .header {
	width: auto;
	height: auto;
	margin: 1px;
	padding: 0;
	position: relative;
}

.item_question .title {
	width: auto;
	height: 30px;
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	text-align: left;
	line-height: 30px;
	font-size: 25px;
	font-weight: 600;
}

.item_question .title>span {
	margin-left: 10px;
	color: #bbbbbb;
	font-size: 15px;
}

.write_question_btn {
	display: block;
	width: 100px;
	height: 30px;
	margin: 0;
	padding: 3px;
	background-color: #fbd14b;
	color: black;
	font-size: 17px;
	font-weight: 600;
	line-height: 30px;
	text-align: center;
	border-radius: 10px;
	border: 3px solid #fbd14b;
	float: right;
	position: relative;
	bottom: 60px;
}

.write_question_btn:hover {
	background-color: white;
}

.question_lists {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	border: 2px solid #62459C;
}

.question_list_head {
	width: 100%;
	height: 40px;
	margin: 0;
	padding: 3px auto;
	background-color: #62459C;
	color: white;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	vertical-align: middle;
}

.question_list {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 3px auto;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	vertical-align: middle;
}

.question_default {
	width: 100%;
	height: auto;
	margin: 1px auto;
	padding: 3px auto;
	cursor: pointer;
}

.que_number {
	display: inline-block;
	width: 10%;
	height: 40px;
	text-align: center;
	line-height: 40px;
}

.que_type {
	display: inline-block;
	width: 12%;
	height: 40px;
	text-align: center;
	line-height: 40px;
}

.que_content {
	display: inline-block;
	width: 50%;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.que_answer {
	display: inline-block;
	width: 12%;
	height: 40px;
	text-align: center;
	line-height: 40px;
}

.que_date {
	display: inline-block;
	width: 10%;
	height: 40px;
	text-align: center;
	line-height: 40px;
}

.question_detail {
	width: auto;
	height: auto;
	padding: 20px 40px;
	text-align: left;
	line-height: 40px;
	background-color: #dedcee;
	display: none;
}

.question_detail > span {
	color: #848484;
	margin-bottom: 10px;
}

/* 상품 리뷰, 문의가 없는 경우 */
.review_none, .question_none {
	width: 100%;
	height: auto;
	margin: 50px auto;
	padding: auto;
	text-align: center;
	vertical-align: middle;
}

.review_none h1, .question_none>h1 {
	width: auto;
	height: auto;
	margin: 30px auto;
	padding: auto;
	font-size: 20px;
	color: #bbbbbb;
}